@use "../../partials/mixins" as *;

.project-item {
  // perspective: 1000px;
  list-style: none;
}

.project {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background-color: rgb(233, 233, 233);
  height: 100%;
  margin: 32px auto;
  padding: 1.6rem;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

  @include media-desktop {
    // max-width: 500px;
    // width: 40%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin: auto;
    // transform: rotateX(5deg);
    animation: card-not-active 0.5s linear;

    &:hover {
      animation: card-active 0.5s linear;
      // transform: rotateX(0);
    }
  }

  .project__link {
    color: black;
  }

  &--dark-mode {
    background-color: rgba(75, 103, 138, 0.95);

    .project__link {
      color: rgb(240, 240, 240);
    }
  }

  &--flip {
    animation: card-flip 1.5s linear 1;
  }

  &:hover {
    @include media-desktop {
      animation: card-active 0.5s linear;
      // transform: rotateX(0);
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-desktop {
      width: 70%;
    }
  }

  &__name {
    display: flex;
    align-items: center;

    @include media-desktop {
      font-size: 2.8rem;
      margin-bottom: 8px;
    }
  }

  &__github-link {
    margin-top: auto;
    // margin-left: auto;
  }

  &__github {
    display: block;
    width: 60px;
    margin: auto;
    // cursor: pointer;

    @include media-desktop {
      // position: absolute;
      // right: 0;
      // bottom: 0;
      // width: 40px;
      // margin-right: auto;
    }

    &--dark-mode {
      filter: invert(100%) sepia(0%) saturate(6%) hue-rotate(157deg)
        brightness(100%) contrast(102%);
    }
  }

  &__link {
    text-decoration: none;

    &:hover {
      color: rgb(117, 117, 117);
    }
  }

  &__card-arrow {
    display: block;
    cursor: pointer;

    @include media-desktop {
      display: none;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    @include media-desktop {
      height: 100%;
      row-gap: 12px;
    }

    &--close {
      display: none;

      @include media-desktop {
        display: flex;
      }
    }
  }

  &__image-container {
    @include media-desktop {
      // position: absolute;
      // top: 0;
      // right: 0;
      // display: flex;
      // align-items: center;
      // padding: 1em;
      // max-width: 30%;
      // height: 100%;
    }
  }

  &__image {
    width: 100%;
    border-radius: 0.5em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

    &:hover {
      transform: scale(1.005);
      box-shadow: 0 2px 8px rgba(0, 0, 0.1, 0.25);
    }
  }

  &__description,
  &__stack {
    margin: 1.6rem auto;

    @include media-desktop {
      margin: auto;
    }
  }

  &__stack {
    text-align: center;
    margin-top: auto;

    justify-self: flex-end;
  }
}

// @keyframes card-flip {
//   0% {
//     transform: rotateX(90deg);
//     opacity: 0;
//     box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
//   }

//   30% {
//     transform: rotateX(-20deg);
//     opacity: 1;
//   }

//   40% {
//     transform: rotateX(20deg);
//   }

//   50% {
//     transform: rotateX(-10deg);
//   }

//   60% {
//     transform: rotateX(10deg);
//   }

//   70% {
//     transform: rotateX(-5deg);
//   }

//   80% {
//     transform: rotateX(5deg);
//   }

//   90% {
//     transform: rotateX(0);
//   }

//   100% {
//     transform: rotateX(5deg);
//   }
// }

// @keyframes card-active {
//   0% {
//     transform: rotateX(5deg);
//   }

//   100% {
//     transform: rotateX(0);
//   }
// }

// @keyframes card-not-active {
//   0% {
//     transform: rotateX(0);
//   }

//   100% {
//     transform: rotateX(5deg);
//   }
// }
