@use "../../styles/partials/mixins" as *;

.projects {
  &__text {
    text-align: center;
    width: 92.4%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.5rem;

    @include media-desktop {
      font-size: 1.6rem;
    }
  }

  &__text-link {
    color: grey;
    font-weight: bold;
  }
}
